@{
    ViewBag.Title = "Sketch Pad";
}

<div id="drawing-canvas-container">
    <canvas id="drawing-canvas"></canvas>
</div>

<div id="background-selector">
    <ul data-bind="foreach: availableBackgrounds">
        <li>
            <span data-bind="text: Name"></span>
        </li>
    </ul>
</div>

<script>
    $(function () {
        ko.applyBindings(new SketchPad.ViewModel.Draw(new SketchPad.Data.ImageSource()));
    });
</script>