@{
    ViewBag.Title = "Sketch Pad";
}

<div id="drawing-canvas-container">
    <canvas id="drawing-canvas"></canvas>
</div>

<div id="background-selector">
    <ul data-bind="foreach: availableBackgrounds">
        <li class="background-image-picker">
            <img data-bind="imageData: Data, click: $parent.applyBackgroundImage" /
        </li>
    </ul>
</div>

<script>
    $(function () {
        ko.applyBindings(new SketchPad.ViewModel.Draw(new SketchPad.Data.ImageSource(), "drawing-canvas"));
    });
</script>